
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center"  style="background: url(/Content/Site/images/background/hakkimizda.jpg);">
    <div class="container">
        <div class="box">
            <h3>HİZMETLERİMİZ</h3>
        </div><!-- /.box -->
    </div>
</div>




<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("Index","Home")">Anasayfa</a>
                </li>
                <li>
                    Hizmetlerimiz
                    
                </li>
                
            </ul>
        </div>
       
    </div>
</div>

<section class="service-single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="service-sidebar">
                    <ul class="service-catergory">
                        <li id="tozboya" class="active"><a >Elektrostatik Toz Boyama</a> <span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="renk"><a>Özel Renk Seçenekleri </a><span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="yuzey"><a>Toz Boya Yüzey İşlem</a><span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="kurutma"><a>Toz Boya Kurutma ve Pişirme</a><span class="view-all-icon fa fa-caret-right"></span></li>


                    </ul>
                    <br>
                    <br>

                </div>
            </div>
            <div class="col-md-9" id="tozboyaicerik">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="@Url.Content("~/Content/Site/images/service/tozboya.jpg")" alt="">
                            </figure>
                        </div>
                    </div>

                    <br>
                    <div class="inner-title">
                        <h3>Elektrostatik Toz Boya Nedir ve Avantajları Nelerdir?</h3>
                    </div>
                    <div class="text">
                        Elektrostatik toz boya, malzemenin yüzeyine elektrostatik bir şarj uygulayarak boyanın homojen bir şekilde yapışmasını sağlayan bir kaplama yöntemidir. Bu modern boya teknolojisi, birçok endüstride yaygın olarak kullanılmakta olup, birçok avantaj sunmaktadır.

                    </div><br>

                    <div class="inner-title">
                        <h3>
                            Elektrostatik Toz Boya Hizmetlerimiz
                        </h3>
                    </div>

                    <div class="text">
                        <h4>Müşterilerimize sunulan elektrostatik toz boya hizmetleri arasında şunlar bulunmaktadır:</h4> <br />

                        <h5>Endüstriyel Uygulamalar:</h5> Endüstriyel ekipmanlar, metal parçalar ve daha fazlası için elektrostatik toz boya hizmetleri. <br />

                        <h5>Özel Projeler:</h5> Müşteri taleplerine özel projeler için özelleştirilmiş elektrostatik toz boya çözümleri. <br />

                        <h5>Kalite Kontrol:</h5> Yüksek standartlarda kalite kontrol süreçleri ile müşteri memnuniyetini garanti ediyoruz.
                    </div>

                    <br>




                </div>
            </div>

            <div class="col-md-9" id="renkicerik" hidden="hidden">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="@Url.Content("~/Content/Site/images/service/projects2.jpg")" alt="">
                            </figure>
                        </div>
                    </div>

                    <br>
                    <div class="inner-title">
                        <h3>Geniş Renk Seçenekleriyle Elektrostatik Toz Boya Hizmetlerimiz</h3>
                    </div>
                    <div class="text">
                        Elektrostatik toz boya hizmetlerimizde sunduğumuz geniş renk seçenekleri, müşterilerimize estetik ve fonksiyonellik konusunda üst düzeyde özelleştirme imkanı sunmaktadır. Müşterilerimizin benzersiz projelerini hayata geçirmelerine yardımcı olmak için çeşitli renkler, tonlar ve bitiş seçenekleri sunuyoruz.

                    </div><br>

                    <div class="inner-title">
                        <h3>
                            Renk Seçeneklerimiz

                        </h3>
                    </div>

                    <div class="text">


                        <h4>Klasik Renkler:</h4> Endüstri standardındaki klasik renklerle, zamansız ve şık tasarımlar oluşturabilirsiniz. <br />

                        <h5>Mat veya Parlak</h5> İhtiyacınıza uygun mat veya parlak bitiş seçenekleri arasından seçim yaparak projelerinizi kişiselleştirin.<br />

                        <h5>Özel Renk Talepleri:</h5> Müşteri projelerine özel renk talepleri için uzman ekibimizle işbirliği yaparak istediğiniz renk tonunu elde edebilirsiniz.
                    </div>

                    <br>




                </div>
            </div>

            <div class="col-md-9" id="yuzeyicerik" hidden="hidden">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="@Url.Content("~/Content/Site/images/service/yuzeyislem.jpg")" alt="">
                            </figure>
                        </div>
                    </div>

                    <br>
                    <div class="inner-title">
                        <h3>Elektrostatik Toz Boya Yüzey İşlem</h3>
                    </div>
                    <div class="text">
                        Elektrostatik toz boya yüzey işlemi, işimizde benzersiz bir dokunuş ve dayanıklılık katmak için kullandığımız etkili bir yöntemdir. Bu süreçte, malzemenin yüzeyine elektrostatik bir yük uygulayarak toz boyanın mükemmel bir şekilde yapışmasını sağlıyoruz. Toz boyanın parçacıkları, malzemenin üzerine çekilmek üzere elektrostatik bir şarj ile yüklendirilir, bu da homojen ve uzun ömürlü bir kaplama sağlar. Endüstriyel ekipmanlardan metal parçalara kadar geniş bir uygulama yelpazesine sahibiz ve elektrostatik toz boya ile yüzeylerin estetik ve dayanıklılık açısından mükemmel bir görünüme kavuşmasını sağlıyoruz.

                    </div><br>

                   




                </div>
            </div>
           
            <div class="col-md-9" id="kurutmaicerik" hidden="hidden">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="@Url.Content("~/Content/Site/images/service/kurutma.jpg")" alt="">
                            </figure>
                        </div>
                    </div>

                    <br>
                    <div class="inner-title">
                        <h3>Pişirme ve Kurutma Sürecimiz</h3>
                    </div>
                    <div class="text">
                        Pişirme ve kurutma sürecimiz, elektrostatik toz boya uygulamasının vazgeçilmez bir parçasını oluşturuyor. Malzemelerin yüzeyine uygulanan toz boya, özel pişirme fırınlarımızda belirli bir sıcaklık ve süre boyunca ısıtılarak eritilir. Bu adım, toz boyanın malzemenin yüzeyine mükemmel bir şekilde yapışmasını sağlar ve dayanıklı bir kaplama oluşturur. Ardından, kurutma sürecine geçilir. Bu aşamada, boyalı malzeme özenle kurutulur ve istenen dayanıklılık seviyesine ulaşır. Yüksek kaliteli pişirme ve kurutma işlemlerimiz, müşterilerimize uzun ömürlü ve estetik açıdan çekici sonuçlar sunmamıza olanak tanır.

                    </div><br>

                   




                </div>
            </div>
        </div>
    </div>
</section>
<script src="@Url.Content("~/Content/Site/js/jquery.js")"></script>

<script src="@Url.Content("~/Content/Site/js/projects.js")"></script>

