
<section class="portfolio portfolio-style-two padd-1">
    <div class="container">
        <div class="sec-title center">
            <h2> <span>PROJELERİMİZ</span></h2>
        </div>

        <!--Filter-->


        <div class="row filter-list">

            <div class="projects-block-one mix all LOGO col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/proje1.jpg")" alt="image">

                    </figure>

                </div>
            </div>

            <div class="projects-block-one mix all LOGO col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/proje2.jpg")" alt="image">

                    </figure>

                </div>
            </div>

            <div class="projects-block-one mix all LOGO col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/proje3.jpg")" alt="image">

                    </figure>

                </div>
            </div>

            <div class="projects-block-one mix all LOGO col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/proje4.jpg")" alt="image">

                    </figure>

                </div>
            </div>

            <div class="projects-block-one mix all LOGO col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/proje5.jpg")" alt="image">

                    </figure>

                </div>
            </div>

            <div class="projects-block-one mix all LOGO col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">


                        <img src="@Url.Content("~/Content/Site/images/project/proje6.jpg")" alt="image">


                    </figure>

                </div>
            </div>


        </div>
    </div>

</section>

<div class="map-section">
    <div class="map-outer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12510.67163986913!2d27.1362796!3d38.3798032!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbdf98c96658af%3A0x4765b4d973ac3b8a!2sK%C4%B1rlang%C4%B1%C3%A7%20Elektrostatik%20Toz%20Boya!5e0!3m2!1str!2str!4v1699974557610!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

